.boards {
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
}
.board-container {
  max-width: 100%;
  padding: 1rem;
  flex: 0 0 auto;
  border-radius: 1rem;
  background-color: #eff0f3;
}
.board-container-header {
  height: 8%;
  color: #62636c;
}
.board-name {
  font-size: 1.25rem;
  font-weight: 500;
}
.board-count {
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #336aea;
  color: white;
  font-size: 0.75rem;
}
.board-container-header i {
  cursor: pointer;
}
.tasks-list {
  height: 92%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.card {
  border-radius: 0.75rem;
  cursor: move;
}
.task-header i {
  cursor: pointer;
  color: #62636c;
}
.task-desc {
  max-lines: 1;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #1e1f24;
}
.task-last-update {
  font-size: 0.85rem;
  color: #62636c;
}
.task-priority {
  padding: 0.25rem 0.5rem;
  border: 0.125rem solid #ff4c4c;
  border-radius: 0.5rem;
  background-color: #ffeded;
  font-size: 0.75rem;
  font-weight: 500;
  color: #ff4c4c;
}
.circle {
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 50%;
  background-color: #ff4c4c;
}
.new-board {
  height: 100%;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin-left: 1rem;
  border: 0.125rem dashed #62636c;
  border-radius: 1rem;
  background-color: #f9f9fb;
  color: #62636c;
  font-size: larger;
  cursor: pointer;
}
.new-board-icon {
  font-size: 3rem;
}
.new-board-text {
  font-size: large;
}
.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0.75rem;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
  border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.offcanvas-body {
  overflow-y: scroll;
  scrollbar-width: none;
}
.offcanvas-body .row {
  font-size: 0.95rem;
}
.offcanvas-body .row .col-5 {
  color: #8b8d98;
}
.offcanvas-body .row .col-7 {
  color: #1e1f24;
}
.task-tags {
  display: flex;
  flex-wrap: wrap;
}
.task-tag {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #eff0f3;
  font-size: 0.85rem;
}
.task-desc-title {
  font-size: 0.95rem;

  color: #8b8d98;
}
.task-desc-body {
  word-wrap: break-word;

  color: #1e1f24;
}
.modal-body {
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 75vh;
}
.new-task {
  opacity: 75%;
}
.new-task-title {
  border: none;
  padding: 0;
  font-weight: 500;
}
.new-task-title:focus {
  border: none;
  box-shadow: none;
  font-weight: 500;
}
.new-task-desc {
  border: none;
  padding: 0;
}
.new-task-desc:focus {
  border: none;
  box-shadow: none;
}
@media (max-width: 992px) {
  .board-container {
    width: 100%;
    margin-bottom: 1rem;
  }
  .new-board {
    height: fit-content;
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .boards {
    display: flex;
  }
  .board-container {
    height: 100%;
    width: 25vw;
    margin-right: 1rem;
  }
}
